<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artlinux.demo.mapper.EmployeeKpiMapper">
  <resultMap id="BaseResultMap" type="com.artlinux.demo.bean.EmployeeKpi">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="employeeID" jdbcType="VARCHAR" property="employeeid" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="kpi" jdbcType="VARCHAR" property="kpi" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="check_date" jdbcType="VARCHAR" property="checkDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, employeeID, leader, kpi, comments, check_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from employee_kpi
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from employee_kpi
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.artlinux.demo.bean.EmployeeKpi">
    insert into employee_kpi (id, employeeID, leader,
      kpi, comments, check_date
      )
    values (#{id,jdbcType=VARCHAR}, #{employeeid,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR},
      #{kpi,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{checkDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.artlinux.demo.bean.EmployeeKpi">
    insert into employee_kpi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="employeeid != null">
        employeeID,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="kpi != null">
        kpi,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="checkDate != null">
        check_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="employeeid != null">
        #{employeeid,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="kpi != null">
        #{kpi,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.artlinux.demo.bean.EmployeeKpi">
    update employee_kpi
    <set>
      <if test="employeeid != null">
        employeeID = #{employeeid,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="kpi != null">
        kpi = #{kpi,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        check_date = #{checkDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.artlinux.demo.bean.EmployeeKpi">
    update employee_kpi
    set employeeID = #{employeeid,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      kpi = #{kpi,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      check_date = #{checkDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selctByAll" resultType="integer">
  select
  count(0)
  from
  employee_kpi
  where
  1=1
  <if test="employeeID != null">
    AND employee_kpi.employeeID like concat('%',#{employeeID},'%')
  </if>
  <if test="kpi != null">
    AND employee_kpi.kpi like concat('%',#{kpi},'%')
  </if>
  <if test="leader != null">
    AND employee_kpi.leader like concat('%',#{leader},'%')
  </if>
</select>



  <select id="selctListByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from
    employee_kpi
    where
    1=1
    <if test="employeeID != null">
      AND employee_kpi.employeeID like concat('%',#{employeeID},'%')
    </if>
    <if test="kpi != null">
      AND employee_kpi.kpi like concat('%',#{kpi},'%')
    </if>
    <if test="leader != null">
      AND employee_kpi.leader like concat('%',#{leader},'%')
    </if>
    limit #{queryNumber,jdbcType=INTEGER},#{StepSize,jdbcType=INTEGER}
  </select>





</mapper>